@import "~bootstrap/scss/bootstrap.scss";
 
.number-container {
    background-color: #292929;
    width: 150px;
    height: 200px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5x 10px;
}
.number {
    font-weight: bold;
    font-size: 48px;
    color: white;
    margin: 0px;
}

.counter {
    width: auto;
    height: auto;
    display: flex;
    background-color: black;
    border-radius: 10px;
}